<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MemeNet" description="MemeNet is bringing you the best memes around the world">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='firebase.js') }}"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYPP5TXMN8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PYPP5TXMN8');
    </script>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <title>MemeNet - Post Your Meme</title>
</head>

<body>
    <main>
        <h1>Post Your Meme</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
            <label for="file">Choose a meme:</label>
            <input type="file" id="file" name="file" accept="image/*" onchange="previewImage()" required>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" placeholder="Seperate using ,"   required>
            <div class="h-captcha" data-sitekey="c771c7cc-50d6-402f-985c-2a696ba27aad"></div>
            <button type="submit">Post</button>
            <img id="imagePreview" alt="Image Preview" style="display: none; max-width: 100%; margin-top: 10px;">
        </form>
    </main>
    <footer>
        <a href="{{ url_for('index') }}"><button>Home</button></a>
        <a href="{{ url_for('search') }}"><button>Search</button></a>
        <a href="{{ url_for('post') }}"><button>Post</button></a>
    </footer>

    <script>
        function previewImage() {
            var fileInput = document.getElementById('file');
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }

        function validateForm() {
            // You can add additional validation logic here if needed
            return true;
        }
        
    </script>
</body>

</html>